<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>loginPage.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <display-name>loginPage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewRegController</display-name>
    <servlet-name>NewRegController</servlet-name>
    <servlet-class>controller.NewRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRegController</servlet-name>
    <url-pattern>/NewRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListRegistrationController</display-name>
    <servlet-name>ListRegistrationController</servlet-name>
    <servlet-class>com.app.controller.ListRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRegistrationController</servlet-name>
    <url-pattern>/ListRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRegistrationController</display-name>
    <servlet-name>DeleteRegistrationController</servlet-name>
    <servlet-class>com.app.controller.DeleteRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRegistrationController</servlet-name>
    <url-pattern>/DeleteRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRegistrationController</display-name>
    <servlet-name>UpdateRegistrationController</servlet-name>
    <servlet-class>com.app.controller.UpdateRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRegistrationController</servlet-name>
    <url-pattern>/UpdateRegistrationController</url-pattern>
  </servlet-mapping>
</web-app>